[submodule "themes/bodhi"]
	path = themes/bodhi
	url = https://github.com/rhnvrm/bodhi.git
[submodule "public"]
	path = public
	url = https://github.com/thesilversverker/staticsite.git
[submodule "themes/m10c"]
	path = themes/m10c
	url = https://github.com/vaga/hugo-theme-m10c.git
